<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--*
*
*  @author Al?a?o Dur?n
*
*-->

<mapper namespace="com.cofar.hermes.kardex.repository.SecretariaRepository">
    <resultMap id="SecretariaMap" type="com.cofar.hermes.kardex.models.Secretaria">

        <id column="id_secretaria" property="idSecretaria" />
        <result column="ap_paterno" property="apPaterno" />
        <result column="ap_materno" property="apMaterno" />
        <result column="nombres" property="nombres" />
        <result column="fecha_nacimiento" property="fechaNacimiento" />
        <result column="telefono" property="telefono" />
        <result column="celular" property="celular" />
        <result column="correo_electronico" property="correoElectronico" />
        <result column="genero" property="genero" />
        <result column="usuario_registro" property="usuarioRegistro" />
        <result column="usuario_modificacion" property="usuarioModificacion" />
        <result column="fecha_registro" property="fechaRegistro" />
        <result column="fecha_modificacion" property="fechaModificacion" />
        <result column="estado" property="estado" />
    </resultMap>

    <select  id = "listarPorParametros" resultMap = "SecretariaMap" parameterType="com.cofar.hermes.kardex.models.Secretaria">
        SELECT * FROM HER_SECRETARIA WHERE 1=1
        <if test="apPaterno != null">
            and ap_paterno =#{apPaterno}
        </if>
        <if test="apMaterno != null">
            and ap_materno =#{apMaterno}
        </if>
        <if test="nombres != null">
            and nombres =#{nombres}
        </if>
        <if test="fechaNacimiento != null">
            and fecha_nacimiento =#{fechaNacimiento}
        </if>
        <if test="telefono != null">
            and telefono =#{telefono}
        </if>
        <if test="celular != null">
            and celular =#{celular}
        </if>
        <if test="correoElectronico != null">
            and correo_electronico =#{correoElectronico}
        </if>
        <if test="genero != null">
            and genero =#{genero}
        </if>
        <if test="usuarioRegistro != null">
            and usuario_registro =#{usuarioRegistro}
        </if>
        <if test="usuarioModificacion != null">
            and usuario_modificacion =#{usuarioModificacion}
        </if>
        <if test="fechaRegistro != null">
            and fecha_registro =#{fechaRegistro}
        </if>
        <if test="fechaModificacion != null">
            and fecha_modificacion =#{fechaModificacion}
        </if>
        <if test="estado != null">
            and estado =#{estado}
        </if>

    </select>

    <select  id = "listar" resultMap = "SecretariaMap">
        SELECT * FROM HER_SECRETARIA  where ESTADO=1
    </select>
    
    <select  id = "obtener" resultMap = "SecretariaMap" parameterType="java.lang.Integer">
        SELECT * FROM HER_SECRETARIA WHERE ESTADO=1 AND id_secretaria=#{0}
    </select>

    <insert id="registrar" parameterType="com.cofar.hermes.kardex.models.Secretaria">
        INSERT INTO HER_SECRETARIA
        (AP_PATERNO, AP_MATERNO, NOMBRES, FECHA_NACIMIENTO, TELEFONO, CELULAR, CORREO_ELECTRONICO, GENERO, USUARIO_REGISTRO, USUARIO_MODIFICACION, FECHA_REGISTRO, FECHA_MODIFICACION, ESTADO) 
        VALUES 
        (#{apPaterno}, #{apMaterno}, #{nombres}, #{fechaNacimiento}, #{telefono}, #{celular}, #{correoElectronico}, #{genero}, #{usuarioRegistro}, #{usuarioModificacion}, sysdatetime(),sysdatetime(), 1)
    </insert>

    <update id="actualizar" parameterType="com.cofar.hermes.kardex.models.Secretaria">
        UPDATE HER_SECRETARIA SET 
        ap_paterno=#{apPaterno}, 
        ap_materno=#{apMaterno}, 
        nombres=#{nombres}, 
        fecha_nacimiento=#{fechaNacimiento}, 
        telefono=#{telefono}, 
        celular=#{celular}, 
        correo_electronico=#{correoElectronico}, 
        genero=#{genero}, 
        usuario_modificacion=#{usuarioModificacion}, 
        fecha_modificacion=sysdatetime()
        WHERE id_secretaria=#{idSecretaria}

    </update>
    <delete id="eliminar" parameterType="java.lang.Integer">
        UPDATE HER_SECRETARIA SET estado=0 WHERE id_secretaria=#{idSecretaria}
    </delete>
</mapper>