<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="logImpl" value="LOG4J" />
	</settings>
<!--   <mappers> -->
<!--         <package name="com.cofar.hermes.core.repository"/> -->
<!--         <package name="com.cofar.hermes.kardex.repository"/> -->
<!--     </mappers> -->
<!--       <typeAliases> -->
<!--         <package name="com.cofar.hermes.core.models"/> -->
<!--         <package name="com.cofar.hermes.kardex.models"/> -->
<!--     </typeAliases> -->
</configuration>

	<!--<Logger name="com.cofar.hermes.kardex.repository" level="DEBUG"/>-->

